<h1>Мои петиции</h1>

	<table width="100%">
	<tr>
		<th align="left">Петиция</th>
		<th align="left">Автор</th>
	</tr>
	<% @my_petitions.each do |p| %>
	 	<tr>
			<td><%= link_to p.title, petition_path(p) %></td>			
			<td><%= "#{current_user.first_name} #{current_user.last_name}" %></td>
		</tr>
	<% end %>
</table>